*{
    margin:0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    font-size: 50px;
    text-align: center;
    opacity: 20%;
}
html{
    background-color: rgba(14, 13, 15, 0.041);
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  button{
    width: 100%;
    border: none;
    border-radius: 0;
    font-size: 20px;
  }
#tranform{
    display: flex;
    width: 100%;
    height: 80px;
}
input{
    border-radius: 10px;
    margin: 10px;
    flex-grow: 1;
    border: none;
}