*{
    margin: 0;
}
.sixteenbysixteen{
display: grid;
grid-template-rows: repeat(9,1fr);
grid-template-columns: repeat(16, 1fr);
width: 100vw;
height: 100vh;

}
.white{
background-color: #ffffff;
}
.light-red{
background-color: #e67f7e;
}
.dark-red{
background-color: #d83e3b;
}
