*{
    color: rgb(162, 156, 230);
}
body{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.row button{
    margin: 5px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
}
.result input{
    background-color: rgba(202, 202, 202, 0.308);
    border: none;
    width: 300px;
    height: 60px;
    border-radius: 30px;
    
    font-size: 30px;
    padding: 20px;
  
}