*{
    margin: 0;
}
.sixteenbysixteen{
display: grid;
grid-template-rows: repeat(16,1fr);
grid-template-columns: repeat(16, 1fr);

}
.box{
    height: 60px;
    background-color: orange;
    border: white solid 1px;
}
.gray-1{
background-color: #cccccc;
}
.gray-2{
background-color: #999999;
}
.gray-3{
background-color: #5d5d5d;
}
.gray-4{
background-color: #333333;
}